In [1]:
y = [(2, 4), (7, 8), (1, 5, 9)]
y[1][1]

8

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
df.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [6]:
df['Area'].nunique()

49

In [7]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [12]:
df.groupby('Area')['Y2017'].sum().nsmallest(7)

Area
Ethiopia PDR                 0.00
Sudan (former)               0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [18]:
df.groupby(['Area','Element'])['Y2015'].sum()['Madagascar']

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

In [19]:
array  = ([[94, 89, 63],
           [93, 92, 48],
           [92, 94, 56]])

In [20]:
array[1]

[93, 92, 48]

In [21]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [23]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [26]:
pd.DataFrame(lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [29]:
print(round(df['Y2017'].mean(), 2))
print(round(df['Y2017'].std(), 2))

140.92
1671.86

In [36]:
print(df.groupby('Element')['Y2014'].sum()['Stock Variation'])
print(df.groupby('Element')['Y2015'].sum()['Stock Variation'])
print(df.groupby('Element')['Y2016'].sum()['Stock Variation'])
print(df.groupby('Element')['Y2017'].sum()['Stock Variation'])
print(df.groupby('Element')['Y2018'].sum()['Stock Variation'])

58749.82999999999
34910.99
33140.12000000001
54316.909999999996
20577.910000000003

In [42]:
print(df.groupby('Item')['Y2015'].sum()['Wine'])
print(df.groupby('Item')['Y2018'].sum()['Wine'])

4251.8099999999995
4039.3199999999997

In [43]:
df.groupby('Area')['Y2017'].sum().nlargest(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

In [45]:
df['Y2014'].isnull().sum()

1589

In [50]:
((df['Y2014'].isnull().sum())/df.shape[0])*100

2.6073544131401474

In [54]:
print(df['Element Code'].corr(df['Y2014']))
print(df['Element Code'].corr(df['Y2015']))
print(df['Element Code'].corr(df['Y2016']))
print(df['Element Code'].corr(df['Y2017']))
print(df['Element Code'].corr(df['Y2018']))

0.024456819495221795
0.02388919930163992
0.023443997584961428
0.02425400776004572
0.02427857195351955